<!DOCTYPE html>
<html>
<head>
    <title>Admin Cpanel</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ionicons.min.css">
    <link rel="stylesheet" href="/styles/admin/_all-skins.min.css">
    <link rel="stylesheet" href="/styles/admin/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="/styles/admin/open-sans.css">
    <link rel="stylesheet" href="/styles/admin/style.css">

</head>
<body class="login-page">
    <%- body %>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.1.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/admin/app.min.js"></script>
    <script src="/js/admin/fastclick.min.js"></script>
    <script src="/js/admin/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/js/admin/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/admin/jquery.slimscroll.min.js"></script>
    <script src="/js/admin/jquery.sparkline.min.js"></script>
    <script src="/js/admin/placeholder-shim.min.js"></script>

</body>
</html>
